<h1>Show Sensor</h1>

<ul>

  <li>
    <strong>Latitude:</strong>
    <%= @sensor.latitude %>
  </li>

  <li>
    <strong>Longitude:</strong>
    <%= @sensor.longitude %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.sensor_path(@conn, :edit, @sensor) %></span>
<span><%= link "Back", to: Routes.sensor_path(@conn, :index) %></span>
